* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: #293241;
    min-height: 100vh;
    background: linear-gradient(
        to right top, 
        #1685b0, 
        #3db082
    );
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    min-height: 85vh;
    max-height: 85vh;
    overflow: scroll;
    width: 85%;
    background: linear-gradient(
        to right bottom, 
        rgba(255, 255, 255, 0.6), 
        rgba(255, 255, 255, 0.2)
    );
    border-radius: 2rem;
    backdrop-filter: blur(1rem);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

/* figure out header scrolling */
#header-wrapper {
    display: flex;
    flex-direction: column;
    padding: 18px;
    background: linear-gradient(
        to right bottom, 
        rgba(255, 255, 255, 0.6), 
        rgba(255, 255, 255, 0.2)
    );
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}

input {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: #293241;
    padding: 4px 8px;
    border: 0px solid;
    border-color: #293241;
    border-radius: 4px;

    background: linear-gradient(
        to right bottom, 
        rgba(255, 255, 255, 0.7), 
        rgba(255, 255, 255, 0.5)
    );
}

input:focus {
    outline: none;
}

input:focus::placeholder {
    color: transparent;
}

button {
    font-family: 'Poppins', sans-serif;
    color: #293241;
    border: 0px solid;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
}

#calculate-payment-btn, 
#clear-input-fields-btn {
    margin: 10px;
}

#calculate-payment-btn, 
#clear-input-fields-btn, 
#detailed-info-btn {
    background: linear-gradient(
        to right bottom, 
        rgba(255, 255, 255, 0.5), 
        rgba(255, 255, 255, 0.3)
    );
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
    transition-duration: 0.3s;
}

#save-lease-btn {
    background: linear-gradient(
        to right bottom, 
        rgba(255, 255, 255, 0.5), 
        rgba(255, 255, 255, 0.3)
    );
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
    transition-duration: 0.3s;
}

#calculate-payment-btn:hover, 
#clear-input-fields-btn:hover, 
#detailed-info-btn:hover,
#save-lease-btn:hover {
   transform: scale(1.1);
}

#nav-bar-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

#nav-bar-calculator-btn {
    background: none;
    border-radius: 0.5rem;
    font-weight: bold;
    font-size: medium;
    text-decoration: underline;
}

#nav-bar-calculator-btn:hover {
    background: linear-gradient(
        to right bottom, 
        rgba(255, 255, 255, 0.5), 
        rgba(255, 255, 255, 0.3)
    );
}

#nav-bar-saved-leases-btn {
    background: none;
    border-radius: 0.5rem;
    font-weight: normal;
    font-size: medium;
}

#nav-bar-saved-leases-btn:hover {
    background: linear-gradient(
        to right bottom, 
        rgba(255, 255, 255, 0.5), 
        rgba(255, 255, 255, 0.3)
    );
}

#car-info-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
}

.car-info {
    margin: 3px auto;
    width: 180px;
}

#price-info-div {
    margin: 20px auto;
    display: flex;
    flex-direction: column;
}

#price-info-inputs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.price-info-inputs-column {
    display: flex;
    flex-direction: column;
    margin: 4px 8px;
}

.price-info {
    margin: 2px auto;
}

#calculate-button-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
}

#monthly-payment-info-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
}

.monthly-payment-info {
    margin: 5px auto;
}

#monthly-payment {
    display: none;
}

#calculate-error-message {
    display: none;
    background: linear-gradient(
        to right bottom, 
        rgba(41, 50, 65, 1), 
        rgba(41, 50, 65, 0.8)
    );
    padding: 5px 10px;
    border-radius: 4px;
    font-weight: 600;
    font-size: small;
    color: #ee512a;
}

#detailed-info-btn {
    display: none;
}

table {
    width:fit-content;
    white-space: nowrap;
    display: block;
    text-align: right;
    background: linear-gradient(
        to right bottom, 
        rgba(255, 255, 255, 0.7), 
        rgba(255, 255, 255, 0.5)
    );
    color: #293241;
    padding: 4px 8px;
    border: 0px solid;
    border-color: #293241;
    border-radius: 4px;
    font-size: small;
    table-layout: auto;
    margin: 20px auto;
}

table td {
    margin: 10px;
}

#detailed-info-table {
    display: block;
    text-align: right;
    background: linear-gradient(
        to right bottom, 
        rgba(255, 255, 255, 0.7), 
        rgba(255, 255, 255, 0.5)
    );
    color: #293241;
    padding: 4px 8px;
    border: 0px solid;
    border-color: #293241;
    border-radius: 4px;
    font-size: small;
    table-layout: auto;
    margin: 20px auto;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#calculator-wrapper {
    display: block;
}

#saved-leases-wrapper {
    display: none;
}

#save-lease-btn {
    display: none;
}

#saved-leases-list {
    list-style-type: none;
}