body {
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

input {
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

button {
    font-family: 'Poppins', sans-serif;
}

#nav-bar-div {
    display: flex;
    justify-content: space-around;
}

#car-info-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
}

.car-info {
    margin: 3px auto;
    width: 180px;
}

#price-info-div {
    margin: 20px auto;
}

.price-info {
    margin: 2px auto;
}

#calculate-button-div {
    margin: 20px auto;
}

#monthly-payment-info-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
}

.monthly-payment-info {
    margin: 5px auto;
}

#monthly-payment {
    display: none;
}

#calculate-error-message {
    font-weight: 600;
    color: red;
}

#detailed-info-btn {
    display: none;
}

#detailed-info-table {
    display: none;
    text-align: right;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#calculator-wrapper {
    display: block;
}

#saved-leases-wrapper {
    display: none;
}

#save-lease-btn {
    display: none;
}

#saved-leases-list {
    list-style-type: none;
}